.section
    position: relative
    padding: 7.5rem 2rem 6.75rem
    border-bottom: 1px solid #d2d2d2

    h3
        font-size: 36px
        line-height: 133%
        text-transform: uppercase
        color: var(--color-text-black)

.wrapper
    display: flex
    height: auto
    margin-top: 5.625rem

@media screen and (max-width: 40rem)
    .section
        position: relative
        padding: 2rem 1rem 6.75rem

    .wrapper
        margin-top: 2rem
