
.main
    overflow: visible

.snapPoint
    height: 4rem

    &:first-of-type
        height: 0rem

.content
    width: 100%

.title
    position: sticky
    display: flex
    align-items: flex-end
    top: 3.72rem
    height: 5rem
    text-transform: uppercase
    border-bottom: 1px solid var(--color-red)
    background: rgba(#ffffff, 0.2)
    margin-bottom: 3.5rem
    padding: 12px
    z-index: 2
    -webkit-backdrop-filter: blur(10px)
    backdrop-filter: blur(3px)

.grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(20rem, clamp(20rem, 330px, 32rem)))
    grid-template-rows: auto
    column-gap: 1rem
    row-gap: 2.25rem
    width: 100%

.product
    display: flex
    min-height: 300px
    width: 100%

    &:only-child
        width: 20.625rem
