
.main
    overflow: visible

.snapPoint
    height: 4rem

    &:first-of-type
        height: 0rem

.content
    width: 100%

.title
    position: sticky
    display: flex
    align-items: flex-end
    top: 3.72rem
    height: 5rem
    text-transform: uppercase
    border-bottom: 1px solid var(--color-red)
    background: rgba(#ffffff, 0.2)
    margin-bottom: 1.5rem
    padding: 12px
    z-index: 2
    -webkit-backdrop-filter: blur(10px)
    backdrop-filter: blur(3px)

.grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr))
    justify-content: space-between
    grid-template-rows: auto
    column-gap: min(1rem, 4rem)
    row-gap: 2.25rem
    width: 100%

.grid:not(:has(:nth-child(3)))
    justify-content: flex-start
    grid-template-columns: repeat(auto-fit, minmax(21rem, clamp(25rem, 430px, 42rem)))

    .product
        display: flex
        justify-content: flex-start
        min-height: 300px
        width: clamp(21rem, 430px, 42rem)

.product
    display: flex
    min-height: 300px
    width: 100%

    &:only-child
        width: clamp(21rem, 430px, 42rem)

@media screen and (max-width: 40rem)
    .grid
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr))
