
.main
    overflow: visible

.snapPoint
    height: 4rem

    &:first-of-type
        height: 0rem

.content
    width: 100%

.title
    position: sticky
    display: flex
    align-items: flex-end
    top: 3.72rem
    height: 5rem
    text-transform: uppercase
    border-bottom: 1px solid var(--color-red)
    background: rgba(#ffffff, 0.2)
    margin-bottom: 1.5rem
    padding: 12px
    padding-left: 0
    z-index: 2
    -webkit-backdrop-filter: blur(10px)
    backdrop-filter: blur(3px)

.grid
    display: grid
    justify-content: flex-start
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr))
    grid-template-rows: auto
    column-gap: 1rem
    row-gap: 2.25rem
    width: 100%

.product
    display: flex
    min-height: 300px
    width: 100%

.grid:not(:has(:nth-child(3)))
    grid-template-columns: repeat(auto-fit, minmax(calc((100vw - 100px) / 3), calc(0.5fr - 1rem)))

//1036
@media screen and (max-width: 64.75rem)
    .grid
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr))

@media screen and (max-width: 40rem)
    .grid
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr))

    .product
        min-height: fit-content
