.main
    display: flex
    flex-direction: column
    padding: 4rem 2rem 0rem
    row-gap: 1.6rem

    h1
        font-size: 2.25rem
        color: var(--color-accent)
        margin-bottom: 1rem

    h2
        font-size: 2.125rem
        color: var(--color-accent)
        margin-bottom: 0.5rem

    p
        &:first-of-type
            font-weight: 600

    ul
        padding-left: 1rem

    a
        color: var(--color-accent)

        &:hover
            text-decoration: underline

    blockquote
        position: relative
        padding-left: 1rem

        &::before
            content: ""
            position: absolute
            display: block
            left: 0
            top: 0
            width: 0.25rem
            height: 100%
            background: var(--color-accent)

    img
        aspect-ratio: 16 / 9
        max-height: 86vh
        object-fit: cover

.dark
    background: var(--color-gray-dark2)
    color: var(--color-text-white)

    h1,h2
        color: var(--color-text-white)

@media screen and (max-width: 40rem)
    .main
        padding: 2rem 1rem
        row-gap: 1.6rem

        *
            font-size: medium

        h1
            font-size: x-large
            line-height: 1.2
            margin-bottom: 0.6rem

        h2
            font-size: x-large
            margin-bottom: 0.2rem

        h3
            font-size: larger

        // p
        //     font-size: large
