
@mixin fontFamily
    font-family: var(--font-din)
    font-weight: 600
    color: var(--color-text-black)
    line-height: 1.2

.h1
    @include fontFamily
    font-size: var(--font-size-xxxl)
    line-height: 1

.h2
    @include fontFamily
    font-size: var(--font-size-xxxl)
    line-height: 0.9

.h3
    @include fontFamily
    line-height: 0.8
    font-size: var(--font-size-xxl)

.h4
    @include fontFamily
    font-size: var(--font-size-xl)

.h5
    @include fontFamily
    font-size: var(--font-size-md)

.h6
    @include fontFamily

.span
    @include fontFamily

.p
    @include fontFamily
    font-size: var(--font-size-regular)
    font-weight: 500
    line-height: 1.2

.center
    text-align: center

.right
    text-align: right
