
.card
    position: relative
    display: grid
    grid-template-columns: auto
    grid-template-rows: 16.5rem auto
    row-gap: 1rem
    width: auto
    align-content: flex-start

    &:hover
        .title
            color: var(--color-accent)

.cover
    position: relative
    grid-column: 1 / span 1

    img
        object-fit: cover

.title
    text-transform: uppercase

.descr
    display: -webkit-box
    overflow-y: hidden
    text-overflow: ellipsis
    -webkit-line-clamp: 4
    line-clamp: 4
    -webkit-box-orient: vertical

@media screen and (max-width: 40rem)
    .card
        padding: 0rem
