
.card
    position: relative
    display: grid
    grid-template-columns: auto
    grid-template-rows: 16.5rem auto
    row-gap: 1rem
    padding: 0 0.75rem
    width: auto

.cover
    position: relative
    grid-column: 1 / span 1

    img
        object-fit: cover

.title
    text-transform: uppercase

.descr
    display: -webkit-box
    overflow-y: hidden
    text-overflow: ellipsis
    -webkit-line-clamp: 3
    line-clamp: 3
    -webkit-box-orient: vertical
