@use "index" as *

.btn
    display: flex
    align-items: center
    justify-content: center
    padding: 1rem 2.26rem
    border: 0px
    border-radius: 0
    font-size: 1.125rem
    line-height: 1
    max-height: 42px
    cursor: pointer
    transition: all 0.3s ease-in-out

.prime
    background: var($color-accent)
    color: var($color-text)

    &:hover
        background: #b30811

.secondary
    background: var(--color-black)

.outline
    background: none
    color: var($color-text)
    border: 1px solid var($color-text)
