.main
    display: grid
    grid-template-columns: repeat(12, 1fr)
    min-height: 400px
    padding: 4.125rem 1.875rem 0
    column-gap: 1rem
    background: var(--color-black)

.column
    h5
        color: var(--color-red)!important
        margin-bottom: 2.625rem
        line-height: 1

    *:not(:first-child)
        margin-bottom: 1rem

    *
        color: white!important

    &:nth-of-type(1)
        grid-column: 3 / span 1

    &:nth-of-type(2)
        grid-column: 6 / span 2

    &:nth-of-type(3)
        grid-column: 8 / span 2

    &:nth-of-type(4)
        grid-column: 11 / span 2

.bottom
    display: flex
    align-items: center
    column-gap: 1rem
    grid-column: 1 / span 12
    border-top: 1px solid #ffffff4b
    padding: 1.125rem 0 1.5rem
    margin-top: 2rem

    *
        color: white!important

    &:first-child
        color: orange!important

    p
        &:first-of-type
            margin-right: auto

@media screen and (max-width: 40rem)
    .main
        display: flex
        flex-direction: column
        align-items: center
        padding: 4.125rem 1rem 0

    .logo
        margin-bottom: 3rem

    .column
        align-items: center
        margin-bottom: 2rem

        h5
            color: var(--color-red)!important
            margin-bottom: 1.625rem
            line-height: 1

        *
            text-align: center

        *:not(:first-child)
            margin-bottom: 1rem

    .bottom
        flex-direction: column-reverse

        row-gap: 1rem
        width: 100%

        *
            text-align: center
            margin: unset

        p
            &:first-of-type
                margin-right: unset
