.main
    position: relative
    display: flex
    padding: 0 1.875rem 2.25rem 1.875rem
    gap: 1rem
    margin-bottom: 8rem
    height: min-content
    margin-top: 5rem
    overscroll-behavior: auto contain

.snapPoint
    height: 4rem

    &:first-of-type
        height: 0rem

.content_wrapper
    display: flex
    flex: 1 0 0px
    flex-direction: column
    overflow: visible

.content
    width: 100%
    overflow: visible

.title
    position: sticky
    top: 86px
    text-transform: uppercase
    border-bottom: 1px solid var(--color-red)
    margin-bottom: 3.5rem
    z-index: 2

.grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr))
    grid-template-rows: auto
    column-gap: 1rem
    row-gap: 2.25rem
    width: 100%

.product
    display: flex
    min-width: 33.33%
    min-height: 300px
    width: 100%
